@use 'sass:map';
@import './variables.module.scss';

// DESCRIBE 브라우저 크기별 반응형 분기점 mixins
@mixin mobile-verti {
  @media (max-width: $mobile-verti) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: ($mobile-verti+1)) and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile+1)) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}


// DESCRIBE Scroll
@mixin scollbar {
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    position: absolute;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #FFC60029;
    border-radius: 5px;
  }
}

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

@mixin flex-direction($direction, $gap: 0) {
  display: flex;
  flex-direction: $direction;

  @if ($direction == column) {
    row-gap: #{$gap}px;
  }
  @if ($direction == row) {
    column-gap: #{$gap}px;
  }
}