/** flex align-items & justify-content 속성 */
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

// 반응형 화면 크기
$mobile-verti: 480px;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
